/* Write your global styles here, in PostCSS syntax */
*,
*::after,
*::before {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

*,
html,
body {
	scroll-behavior: smooth;
  	margin: 0;
  	padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;